################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DentalNUB/FileContentIndex/02763ac0-cfa4-4cc9-92ce-39dd57491a31.vsidx
/.vs/DentalNUB/FileContentIndex
/.vs/DentalNUBproject/v17/.wsuo
/.vs/DentalNUBproject/v17/DocumentLayout.json
